@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

:root {
  --backgroud-color: rgb(219, 127, 94);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  background: var(--backgroud-color);
  text-align: center;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.closed-span,
.closed-span::before,
.closed-span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2rem;
  border-radius: 2px;
  position: relative;
}

.closed-span::before,
.closed-span::after {
  content: "";
  position: absolute;
}

.closed-span::before {
  bottom: 10px;
}

.closed-span::after {
  top: 10px;
}

.nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--backgroud-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.ul-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.li-element {
  margin-bottom: 1em;
  margin-left: 1em;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.link:hover {
  color: black;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav .link {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.logo {
  font-family: "Monoton", sans-serif;
  font-size: 42px;
  color: white;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
    margin-left: 0.2em;
  }

  .nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }

  .ul-list {
    display: flex;
  }

  .li-element {
    margin-left: 3em;
    margin-bottom: 0;
  }

  .link {
    opacity: 1;
    position: relative;
  }

  .link::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  .link:hover::before {
    transform: scale(1, 1);
  }
}
